div img{
    width: 150px;
    height: 120px;
}
.contact-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;

}
.contact{
    border: 1px solid gray;
    border-radius:10px ;
}
